html {
	height: 100%;
}
body {
	font: 13px arial;
	margin: 0;
	height: 100%;
	background: #DDD;
}
p {
	line-height: .8em;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

.shadow {
	-webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
	-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

#wrapper {
	max-width: 1000px;
	margin: auto;
	position: relative;
	min-height: 100%;
}
#parent {
	width: 100%;
	padding: 10px;
	background: #FFF;
}
#messages_wrapper {
	margin-top: 20px;
	/*overflow-y: scroll;*/
	width: 100%;
	background: #FFF;
}
#messages {
	padding: 10px;
}
#messages a {
	color: #777;
}
#nav {
	width: 100%;
	background: #333;
	padding: 5px;
}
#nav a {
	color: #FFF;
}
#form {
	background-color: #333;
	padding: 10px;
}
#form #attachment {
	width: 100px;
}
#form #attachment #picker {
	width: 100%;
}
#form #attachment span.io {
	display: block;
	color: #FFF;
	padding: 5px;
}
#form #attachment span.ready {
	display: none;
}
#form #attachment span.ready a.remove {
	background: url('/images/bin.gif');
	width: 16px;
	height: 16px;
	display: block;
	float: right;
}
#form input#message {
	width: 100%;
	padding: 5px;
	font-size: 18px;
}

td.count {
	color: #CCC;
	font-size: 15px;
}
td.name {
	font-weight: bold;
	font-size: 16px;
	width: 100px;
	padding: 5px;
}
td.message {
	font-size: 16px;
}

#parent td.name {
	width: 100px;
}
#parent td.message {
	font-size: 20px;
}

#login-buttons a.login-link-text {
	color: #000;
}
.accounts-dialog {
	margin-right: 0;
}
