table#messages td.image img {
  min-width: 50px;
  min-height: 50px;
}
.hero-unit {
  padding: 30px;
}
a {
  cursor: pointer;
}
.messageForm span.action {
  width: 20%;
}
.messageForm input {
  width: 80%;
}
.pinned {
  color: red;
}
.online {
  color: rgb(0, 197, 0);
}
.offline {
  color: red;
}
.away {
  color: orange;
}