<template name="post">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				{{> userList}}
			</div>
			<div class="span6">
				<ul class="breadcrumb">
					<li>
						<a href="{{postPath post.parentId}}">Up</a>
						<br>
					</li>
				</ul>
				{{> postContent post}}
			</div>
			<div class="span4">
				{{> messageForm}}
				{{> messages}}
			</div>
		</div>
	</div>
</template>

<template name="userList">
	<ul class="nav nav-pills nav-stacked">
		{{#each users}}
			<li class="{{#if isUser}}active{{/if}}">
				<a>{{state.username}}</a> 
			</li>
		{{/each}}
	</ul>
	{{#comment}}
	<div class="well">
		<p><b>Tip:</b> You can add additional components to your layout easily.</p>
	</div>
	{{/comment}}
</template>

<template name="postContent">
	<div class="hero-unit">
		{{#if file}}
			<img src="{{file.url}}/convert?w=800&fit=max">
		{{/if}}
		<p>{{message}}</p>
		<h3>{{username}}</h3>
	</div>
</template>

<template name="postContent_experiment">
	<div class="media">
		{{#if file}}
			<img class="media-object" src="{{file.url}}/convert?w=800&fit=max">
		{{/if}}
		<div class="media-body">
			<p>{{message}}</p>
			<h4 class="media-heading">{{username}}</h4>
		</div>
	</div>
</template>

<template name="messageForm">
	{{#if fileReady}}
		<p>File Ready! <a id="removeFile">[ Remove? ]</a></p>
	{{else}}
		<a id="picker" class="btn pull-left btn-primary">+ Image</a>
	{{/if}}
	<form>
		<input name="message" type="text" class="input-xxlarge input-block-level" placeholder="Type a message...">
		<!-- <input type="submit" value="">  -->
	</form>
</template>

<template name="messages">
	{{#if count}}
	<table id="messages" class="table">
		<tbody>
		{{#each messages}}
			{{> message}}
		{{/each}}
		</tbody>
	</table>
	{{/if}}
</template>

<template name="message">
	<tr>
		<td>{{messageCount}}</td>
		<td class="image">
			{{#if file}}
			<a href="{{postPath this}}">
				<img src="{{file.url}}/convert?w=50&h=50&fit=crop" width="50" height="50">
			</a>
			{{/if}}
		</td>
		<td><a href="{{postPath this}}">{{username}}</a></td>
		<td>{{message}}</td>
		<td align="right"><span class="pull-right">&gt;</span></td>
	</tr>
</template>