<template name="post">
  <div class="container">
    <div class="row">
      <div class="span3">
        {{> userList}}
      </div>
      <div class="span9">
        {{#if post.parentId}}
        <ul class="breadcrumb">
          <li>
            <a href="{{postPath post.parentId}}"><i class="icon-level-up"></i> Up</a>
          </li>
        </ul>
        {{/if}}
        
          {{> postContent post}}
          <hr>
          {{> postActions}}
        
      </div>
      
      <div class="message-pane rounded" style="{{#if messagePaneHidden}}width: 0{{/if}}">
        <div class="message-tab">
          {{#if messagePaneHidden}}
            <i class="icon-chevron-sign-left"></i>
          {{else}}
            <i class="icon-chevron-sign-right"></i>
          {{/if}}
        </div>
        {{#unless messagePaneHidden}}
          {{> messages}}
          {{> messageForm}}
        {{/unless}}
      </div>
    </div>
  </div>
</template>

<template name="postActions">  
  <div class="btn-toolbar">
    <div class="btn-group">
      <a href="{{profilePath post.userId}}"><button class="btn btn-small"><i class="icon-user"></i> Profile</button></a>
    </div>
    <div class="btn-group">
      {{#if isPinned}}
        <button class="btn btn-small btn-success dropdown-toggle" data-toggle="dropdown"><i class="icon-pushpin"></i> Pinned <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#" class="actionPin">Unpin</a></li>
        </ul>
      {{else}}
        <button class="btn btn-small actionPin"><i class="icon-pushpin"></i> Pin</button>
      {{/if}}
    </div>
    <div class="btn-group">
      {{#if isFriend}}
        <button class="btn btn-small btn-success dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> Friends <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#" class="actionFriend">Unfriend</a></li>
        </ul>
      {{else}}
        <button class="btn btn-small actionFriend"><i class="icon-user"></i> Add Friend</button>
      {{/if}}
    </div>
  </div>
</template>

<template name="userList">
  <ul class="nav nav-list">
    <li class="nav-header">Friends</li>
    {{#if hasFriends}}
      {{#each friends}}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-circle {{status}}"></i> {{username}}<i class="icon-caret-down pull-right"></i></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li><a tabindex="-1" href="{{profilePath this}}">View Profile</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="#" class="actionFriend">Unfriend</a></li>
          </ul>
        </li>
        <li class="active">
          {{#with friendViewingPost}}
            <a href="{{postPath this}}">{{message}} <span class="pull-right">{{displayCount messageCount}}</span></a>
          {{/with}}
        </li>
      {{/each}}
    {{else}}
      <li><a>You have no friends</a></li>
    {{/if}}

    <li class="nav-header">Viewing this post</li>
    {{#each users}}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-circle {{status}}"></i> {{username}}<i class="icon-caret-down pull-right"></i></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li><a tabindex="-1" href="{{profilePath this}}">View Profile</a></li>
          {{#unless isUser}}
            <li class="divider"></li>
            <li>
              <a tabindex="-1" href="#" class="actionFriend">
                {{#if isFriend}}
                  Unfriend
                {{else}}
                  Add to friends
                {{/if}}
              </a>
            </li>
          {{/unless}}
        </ul>
      </li>
    {{/each}}
    {{#if hasAnonymousUsers}}
      <li>
        <a>Anonymous ({{anonymousCount}})</a>
      </li>
    {{/if}}
  </ul>

  {{#comment}}
  <div class="well">
    <p><b>Tip:</b> You can add additional components to your layout easily.</p>
  </div>
  {{/comment}}
</template>

<template name="postContent">
  {{#if file}}
    <img src="{{file.url}}/convert?w=800&fit=max">
  {{/if}}
  <p>{{message}}</p>
  <h3>{{username}}</h3>
</template>

<template name="postContent_experiment">
  <div class="media">
    {{#if file}}
      <img class="media-object" src="{{file.url}}/convert?w=800&fit=max">
    {{/if}}
    <div class="media-body">
      <p>{{message}}</p>
      <h4 class="media-heading">{{username}}</h4>
    </div>
  </div>
</template>

<template name="messageForm">
  <form class="messageForm">
    {{#if fileReady}}
      <span class="action"><p>File Ready! <a id="removeFile">[ Remove? ]</a></p></span>
    {{else}}
      <span class="action"><a id="picker" class="btn pull-left btn-primary">+&nbsp;Image</a></span>
    {{/if}}
    <input name="message" type="text" class="input-xxlarge input-block-level" placeholder="Type a message...">
  </form>
</template>

<template name="messages">
  <div class="messages">
    {{#if count}}
    <table id="messages" class="">
      <tbody>
      {{#each messages}}
        {{> message}}
      {{/each}}
      </tbody>
    </table>
    {{/if}}
  </div>
</template>

<template name="message">
  <tr>
    <td><span class="badge">{{messageCount}}</span></td>
    <td><span class="badge label-info">{{userCount}}</span></td>
    <td class="image">
      {{#if file}}
      <a href="{{postPath this}}">
        <img src="{{file.url}}/convert?w=50&h=50&fit=crop" width="50" height="50">
      </a>
      {{/if}}
    </td>
    <td><a href="{{postPath this}}">{{username}}</a></td>
    <td>{{message}}</td>
  </tr>
</template>