<head>
	<title>jungle</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>

<body>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">Jungle</a>
				<div class="navbar-content">
					<ul class="nav">
						<li class="active">
							<a href="/">Home</a> 
						</li>
						<li>
							<a>Profile</a>
						</li>
						<li>
							{{loginButtons}}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	{{renderPage}}
</body>
